.bar-chart-container {
    width: 500px;
    /* Set the width you need */
    height: 300px;
    border: 2px solid #707c89;
    border-radius: 15px;
    padding: 15px;
    /* Set the height you need */
}

.bar-chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}